

.icons li {
	display:inline;
	float:right;}

p {float:left;
color: #00cbcb;
font-family: Questrial; sans-serif;
padding-top:15px;}

h1 {font-size:20pt;
	font-family: Rokkitt; serif;
	color: #ff6600;}


h5 {font-family: Questrial; sans-serif;
	color: white;
	background-color: #ff6600;
	padding:10px 5px 10px 5px;

}

h6 {font-family: Questrial; sans-serif;
	color:#ff6600;
	font-size:12pt;
	}

/*navigation*/

.list a {color:white;
		font-family: Questrial; sans-serif;
		background-color:#00cbcb;
		text-decoration:none;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
		display:inline-block;
	}


ul {margin-left:none;}
.list a:hover {color:white;
	background-color: #ff6600;
	text-decoration:none;}


li {
	list-style-type: none;
		margin: 0;
		padding: 0;
		float:left;
		}

/*nav for desktop*/
@media (992px){

li {
	list-style-type: none;
		margin: 0;
		padding: 0;
		float:left;
		width:100;

		}
.list a{color:white;
		font-family: Questrial; sans-serif;
		background-color:#00cbcb;
		padding:10px;
		text-decoration:none

	}

.list a:hover {color:white;
	background-color: #ff6600;
	text-decoration:none;

}


/*end of nav*/
.thumbnails img {padding-bottom:5%;}

.back a {
		font-family: Questrial; sans-serif;
		color:#00cbcb;
	}

.back a:hover {color:#ff6600;
				font-style:italic;}

.book img {margin-bottom:2%;}

.nav a {font-family: Questrial; sans-serif;
	color:#00cbcb;
	float:right;
	margin-top:20%;

	}

/*blah*/
.line {border-bottom:red;}
/*
.recent {float:left;
}*/

.work {float:left;}

.mag {float:right;}

